body{
    text-align: center;
    background-color: #35ffd7;

}
.btn{
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 6px solid black;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color: #f99;
}
.red{
    background-color: #d95;
}
.green{
    background-color: #819ff9;
}
.purple{
    background-color: #63aac0;
}
.flash{
    background-color: white;
}
.usrflash{
    background-color: rgb(30, 30, 30)
}